<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "=//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <!-- Dialeto e Driver para Oracle -->
  <property name="dialect">org.hibernate.dialect.OracleDialect</property>
  <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  
  <!-- Detalhes do Banco de Dados-->
  <property name="connection.username">chamado</property>
  <property name="connection.password">chamado</property>
  <property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
  <property name="connection.pool_size">1</property>
  <property name="hibernate.default_schema">chamado</property>
  <property name="hibernate.current_session_context_class">thread</property>
  
  <!-- Propriedades Adicionais -->
  <property name="show_sql">true</property>
  <property name="hbm2ddl.auto">create</property>
  
  <!-- Mapeamento das Classes -->
  <mapping class="br.edu.opet.model.Chamado"/>
  
  
 </session-factory>
</hibernate-configuration>
